<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="text-center">
        <img src="assets/image.png" class="img-fluid" alt="Real Estate" style="width:1000%; max-width: 1200px; height: 400px; object-fit: cover;">
      </div>
      
    
    
    <div class="row justify-content-center">
        <h2 class="text-center">About Us</h2>
        <div class="col-12 col-md-10 mx-auto">
            <p class="fs-5">
                Welcome to Real Estate, your trusted partner in real estate management. Our mission is to provide innovative solutions that simplify the process of buying properties. At RealEstate, we envision a future where real estate transactions are seamless, efficient, and stress-free. We strive to achieve this by leveraging cutting-edge technology, expert knowledge, and exceptional customer service. Our team consists of experienced professionals with extensive backgrounds in real estate, technology, and customer service. We are dedicated to delivering exceptional results and exceeding our clients' expectations.
                We have capabilities of a customer-centric approach, innovation and creativity, integrity and transparency, collaboration and teamwork, and excellence in service delivery. We offer a comprehensive range of services, including property listings and search, personalized property recommendations, streamlined buying processes, and expert advice and consultation. We are committed to providing a user-friendly interface, advanced technology, expert knowledge, personalized service, and unparalleled customer support.
            </p>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <h2 class="text-center">Contact Us</h2>
        <div class="col-12 col-md-10 mx-auto text-center">
            <p>Email: <a href="mailto:info@realestate.com">info@realestate.com</a></p>
            <p>Phone: (123) 456-7890</p>
        </div>
    </div>
</div>
